/* border-bottom: 1px solid #eee; */

.indispensable {
  background: #f12fa0;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
}

.weight-bold-text {
  font-weight: bold;
  font-size: large;
  min-width: 170px;
  margin-bottom: 10px;
}

.select-box {
  height: 30px;
  width: 100%;
  background-color: #f5f5f5;
  padding-left: 20px;
}

/* Pt.画像 */
.img-upload {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.click-upload {
  margin: 15px 0;
  min-width: 250px;
}

.click-upload>p {
  margin-bottom: 15px;
  font-size: large;
}

/* /Pt.画像 */

/* Pt.情報 */
.new-items {
  padding: 2vh 0;
}

.items-text {
  width: 80%;
  padding: 16px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 20px;
  resize: none;
}

.select-box {
  margin: 2vh 0;
}

.price-input {
  height: 30px;
  text-align: right;
  padding-right: 10px;
}




.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding-top: 20px;
  font-size: large;
}

.form-group:first-child {
  padding: 0;
}

.form-text-wrap {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
}

.form-text {
  font-size: 20px;
  font-weight: bold;
}

.input-birth-wrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.input-birth-wrap>select {
  width: 75px;
  margin-top: 5px;
  height: 45px;
  padding-left: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
  /* background: #fff; */
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.input-birth-wrap>p {
  line-height: 60px;
  padding: 0 5px;
}

.shipping-address-form {
  margin-top: 15px;
}

.form-any {
  background: #ccc;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 2px 4px;
}

.info-input-haedline {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}


/* 注意書き */
.caution {
  padding: 5vh 0;
}

.sentence {
  color: snow;
  font-size: large;
  text-decoration: none;
}
.pt-sentence {
  color: rgb(0, 0, 0);
  font-size: large;
  font-weight: bold;
  text-decoration: none;
}

.sentence>a {
  color: #e62bae;
  font-weight: bold;
  text-decoration: none;
}

.pt-sentence>a {
  color: #e62bae;
  font-weight: bold;
  text-decoration: none;
}
/* /注意書き */

/* 下部ボタン */
.sell-btn-contents {
  width: 100%;
  text-align: center;
}

.sell-btn {
  background: #beeb55;
  border: 3px solid #8dd393;
  color: rgb(0, 0, 0);
  width: 100%;
  height: 50px;
  font-size: 20px;
  margin-bottom: 4vh;
}

.back-btn {
  background: rgb(193, 211, 204);
  border: 1px solid rgb(151, 172, 152);
  color: #fff;
  padding: 15px 35%;
  text-decoration: none;
  font-size: 17px;
}