<div class="wrapper">
  <div class="side-task">
  <%= render "side_task" %>
  </div>
  <div class="word-info">
  <%= render "word_info" %>
  </div>
  <div class="underlay-index-photo"></div>
  <div class="underlay-black"></div>
</div>